<% if notice %>
  <p id="notice">
    <div class="alert alert-success"><%= notice %></div>
  </p>
<% end %>

<p>
  <strong>User:</strong>
  <%= link_to @favorite_class.user.name, user_url(@favorite_class.user.id)  %>
</p>

<p>
  <strong>Dance class:</strong>
  <ul>
    <li><%= link_to @favorite_class.dance_class.name, dance_class_url(@favorite_class.dance_class.id)  %></li>
    <ul>
      <li>Taught By: <%= @favorite_class.dance_class.instructor.name %></li>
      <li>Studio: <%= @favorite_class.dance_class.studio.name %></li>
      <li>When: <%= @favorite_class.dance_class.when %></li>
      <li>Time: <%= @favorite_class.dance_class.time %></li>
      <li>Cost: $<%= @favorite_class.dance_class.cost %></li>
    </ul>
  </ul>
</p>

<%= link_to 'Edit', edit_favorite_class_path(@favorite_class) %> |
<%= link_to 'Back', favorite_classes_path %>
