<% if notice %>
  <p id="notice">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  </p>
<% end %>

<div class="jumbotron">
  <p>
    <p>
      <strong>User:</strong>
      <%= link_to @favorite_class.user.name, user_url(@favorite_class.user.id)  %>
    </p>

    <p>
      <strong>Dance class:</strong>
      <ul>
        <li><%= link_to @favorite_class.dance_class.name, dance_class_url(@favorite_class.dance_class.id)  %></li>
        <ul>
          <li>Taught By: <%= @favorite_class.dance_class.instructor.name %></li>
          <li>Studio: <%= @favorite_class.dance_class.studio.name %></li>
          <li>When: <%= @favorite_class.dance_class.when %></li>
          <li>Time: <%= @favorite_class.dance_class.time %></li>
          <li>Cost: $<%= @favorite_class.dance_class.cost %></li>
        </ul>
      </ul>
    </p>
  </p>
</div>

<div class="jumbotron">
  <p>
    <% if session[:user_id] == @favorite_class.user_id %>
      <%= link_to 'Edit', edit_favorite_class_path(@favorite_class), :class => "btn btn-default" %> |
    <% end %>
    <%= link_to 'Back', favorite_classes_path, :class => "btn btn-default" %>
  </p>
</div>


