<% if notice %>
  <p id="notice">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  </p>
<% end %>

<div class="jumbotron">
  <p>
    <p>
      <strong>Name:</strong>
      <%= @instructor.name %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= @instructor.style %>
    </p>

    <p>
      <strong>Biography:</strong>
      <%= @instructor.biography %>
    </p>

    <p><strong>Studios Teach At:</strong></p>
      <ul>
        <% @instructor.dance_classes.each do |dance_class| %>
        <li>
    <!--       <%= dance_class.studio.name %> -->
          <%= link_to dance_class.studio.name, studio_url(dance_class.studio.id)  %>
        </li>
        <% end %>
      </ul>

    <p><strong>Dance Classes:</strong></p>
      <ul>
        <% @instructor.dance_classes.each do |dance_class| %>
        <li>
          <%= link_to dance_class.name, dance_class_url(dance_class.id)  %>
          <ul>
            <li>Studio: <%= dance_class.studio.name%></li>
            <li>Date: <%= dance_class.when %></li>
            <li>Time: <%= dance_class.time %></li>
            <li>Price: $<%= dance_class.cost %></li>
           </ul>
        </li>
        <% end %>
      </ul>
  </p>
</div>

<div class="jumbotron">
  <p>
    <%= link_to 'Edit', edit_instructor_path(@instructor), :class => "btn btn-default" %> |
    <%= link_to 'Back', instructors_path, :class => "btn btn-default" %>
  </p>
</div>


