<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @instructor.style %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @instructor.biography %>
</p>

<p><strong>Studios Teach At:</strong></p>
  <ul>
    <% @instructor.dance_classes.each do |dance_class| %>
    <li>
<!--       <%= dance_class.studio.name %> -->
      <%= link_to dance_class.studio.name, studio_url(dance_class.studio.id)  %>
    </li>
    <% end %>
  </ul>

<p><strong>Dance Classes:</strong></p>
  <ul>
    <% @instructor.dance_classes.each do |dance_class| %>
    <li>
      <%= dance_class.studio.name%>
      <ul>
        <li>Date: <%= dance_class.when %></li>
        <li>Time: <%= dance_class.time %></li>
        <li>Price: $<%= dance_class.cost %></li>
       </ul>
    </li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
