<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="jumbotron">
  <p>
    <div class="form-horizontal">
      <div class="field form-group">
        <%= f.label :name, :class=> 'control-label' %><br>
        <div class="col-lg-4">
          <%= f.text_field :name, :class=> "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :password, :class=> 'control-label' %><br>
        <div class="col-lg-4">
          <%= f.password_field :password, :class=> "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :password_confirmation, :class=> 'control-label' %><br>
        <div class="col-lg-4">
         <%= f.password_field :password_confirmation, :class=> "form-control" %>
        </div>
      </div>
      <div class="form-actions">
        <div class="col-lg-offset-5 col-lg-7">
          <%= f.submit :class => 'btn btn-success btn-large'%>
        </div>
      </div>
    <% end %>
    </div>
  </p>
</div>
