<% if notice %>
  <p id="notice">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  </p>
<% end %>

<div class="jumbotron">
  <p>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p><strong>Favorite Classes:</strong></p>
      <ul>
        <% @user.favorite_classes.each do |favorite_class| %>
        <li>
          <%= link_to favorite_class.dance_class.name, dance_class_url(favorite_class.dance_class.id)  %>
        </li>
        <% end %>
      </ul>

    <p><strong>Exercises <%= @user.name %> Created:</strong></p>
      <ul>
        <% @user.exercises.each do |exercise| %>
        <li>
          <%= link_to exercise.name, exercise_url(exercise.id)  %>
        </li>
        <% end %>
      </ul>
  </p>
</div>

<div class="jumbotron">
  <p>
    <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-default" %> |
    <%= link_to 'Back', users_path, :class => "btn btn-default" %>
  </p>
</div>


