<%= form_for(@dance_class) do |f| %>
  <% if @dance_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited this dance_class from being saved:</h2>

      <ul>
      <% @dance_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instructor_id %><br>
    <%= f.select(:instructor_id, options_from_collection_for_select(Instructor.all, :id, :name)) %>
  </div>
  <div class="field">
    <%= f.label :studio_id %><br>
     <%= f.select(:studio_id, options_from_collection_for_select(Studio.all, :id, :name) )%>
  </div>
  <div class="field">
    <%= f.label :when %><br>
    <%= f.date_select :when %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
