<u><h1>Classes</h1></u>

<%= form_tag(dance_classes_url, class: "navbar-form pull-left", method: :get) do %>
  <%= text_field_tag :search, nil, placeholder:'Search for Instructors', class: 'form-control' %>
<% end %>

<table class = "table content-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructor</th>
      <th>Studio</th>
      <th>When</th>
      <th>Time</th>
      <th>Cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dance_classes.each do |dance_class| %>
      <tr>
        <td><%= dance_class.name %></td>
        <td><%= dance_class.instructor.name %></td>
        <td><%= dance_class.studio.name%></td>
        <td><%= dance_class.when %></td>
        <td><%= dance_class.time %></td>
        <td>$<%= dance_class.cost %></td>
        <td><%= link_to 'Show', dance_class, :class => 'btn btn-small btn-info' %></td>
        <td><%= link_to 'Edit', edit_dance_class_path(dance_class), :class => 'btn btn-small btn-warning' %></td>
        <td><%= link_to 'Destroy', dance_class, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dance class', new_dance_class_path, :class => 'btn btn-large btn-success' %>
