<% if notice %>
  <p id="notice">
    <div class="alert alert-success"><%= notice %></div>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @exercise.user.name, user_url(@exercise.user.id)  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Picture:</strong>
  <img src="<%= @exercise.picture_url%>">
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
