<% if notice %>
  <p id="notice">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= notice %>
    </div>
  </p>
<% end %>

<div class="jumbotron">
  <p>
    <p>
      <strong>Name:</strong>
      <%= @exercise.name %>
    </p>

    <p>
      <strong>User:</strong>
      <%= link_to @exercise.user.name, user_url(@exercise.user.id)  %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @exercise.category %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @exercise.description %>
    </p>

    <p>
      <strong>Picture:</strong>
      <img src="<%= @exercise.picture_url%>">
    </p>
  </p>
</div>

<div class="jumbotron">
  <p>
    <% if session[:user_id] == @exercise.user_id %>
      <%= link_to 'Edit', edit_exercise_path(@exercise), :class => "btn btn-default" %> |
    <% end %>
    <%= link_to 'Back', exercises_path, :class => "btn btn-default" %>
  </p>
</div>


