<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @studio.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @studio.phone %>
</p>

<p><strong>Instructors:</strong></p>
  <ul>
    <% @studio.dance_classes.each do |dance_class| %>
    <li>
<!--       <%= dance_class.instructor.name %> -->
      <%= link_to dance_class.instructor.name, instructor_url(dance_class.instructor.id)  %>
    </li>
    <% end %>
  </ul>

<p><strong>Dance Classes:</strong></p>
  <ul>
    <% @studio.dance_classes.each do |dance_class| %>
    <li>
      <%= dance_class.studio.name%>
      <ul>
        <li>Date: <%= dance_class.when %></li>
        <li>Time: <%= dance_class.time %></li>
        <li>Price: $<%= dance_class.cost %></li>
       </ul>
    </li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
